# Environment variables
.env

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log

# Node / tooling (future-proof)
node_modules/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
.opencode
